@media screen and (max-width: 600px) {

    .usos{
      height: 31%;
      top: 180%;
      left: 0%;
      position: absolute;
    }

    .videos{
        width: 60%;
        height: 31%;
        top: 400%;
        left: 20px;
        position: absolute;
    }

    table {
      border: 0;
    }
  
    table caption{
      font-size: 1.3em;
    }
    
    table thead {
      border: none;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
    }
    
    table tr {
      border-bottom: 3px solid #ddd;
      display: block;
      margin-bottom: .625em;
    }
    
    table td {
      border-bottom: 1px solid #ddd;
      display: block;
      font-size: .8em;
      text-align: right;
    }
    
    table td::before {
      content: attr(data-label);
      float: left;
      font-weight: bold;
      text-transform: uppercase;
    }
    
    table td:last-child {
      border-bottom: 0;
    }

    .b-slider{
        text-align: center;
        margin-right: 50px;
        width: 342px;
        position: relative;
        top: -23px;
    }

    .b-slider__item-1 iframe{
        width: 342px;
        height: 198px;
    }

    .videos h1{
      position: absolute;
      top: -79px;
      left: 148px;
    }
  }

  @media screen and (min-width: 600px) and (max-width: 800px) {

    .usos{
        height: 31%;
        top: 180%;
        left: 15%;
        position: absolute;
    }

    .videos{
      width: 90%;
      height: 31%;
      top: 400%;
      left: 10%;
      position: absolute;
    }

    table {
      border: 0;
    }
  
    table caption{
      font-size: 1.3em;
    }
    
    table thead {
      border: none;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
    }
    
    table tr {
      border-bottom: 3px solid #ddd;
      display: block;
      margin-bottom: .625em;
    }
    
    table td {
      border-bottom: 1px solid #ddd;
      display: block;
      font-size: .8em;
      text-align: right;
    }
    
    table td::before {
      content: attr(data-label);
      float: left;
      font-weight: bold;
      text-transform: uppercase;
    }
    
    table td:last-child {
      border-bottom: 0;
    }

    .b-slider{
      text-align: center;
      margin-right: 50px;
      width: 358px;
      position: relative;
      top: -23px;
    }

    
    .b-slider__item-1 iframe{
        width: 358px;
    }


    .videos h1{
        position: absolute;
        top: -87px;
        left: 128px;
    }
  }

  @media screen and (min-width: 800px) and (max-width: 1100px)  {

    .usos{
        height: 31%;
        top: 180%;
        left: 15%;
        position: absolute;
    }

    .videos{
        width: 90%;
        height: 31%;
        top: 300%;
        left: -152px;
        position: absolute;
    }

    table {
      border: 0;
    }
  
    table caption{
      font-size: 1.3em;
    }
    
    table thead {
      border: none;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
    }
    
    table tr {
      border-bottom: 3px solid #ddd;
      display: block;
      margin-bottom: .625em;
    }
    
    table td {
      border-bottom: 1px solid #ddd;
      display: block;
      font-size: .8em;
      text-align: right;
    }
    
    table td::before {
      content: attr(data-label);
      float: left;
      font-weight: bold;
      text-transform: uppercase;
    }
    
    table td:last-child {
      border-bottom: 0;
    }

    .b-slider{
      text-align: center;
      margin-right: 50px;
      width: 358px;
      position: relative;
      top: -23px;
    }

    
    .b-slider__item-1 iframe{
        width: 358px;
    }


    .videos h1{
        position: absolute;
        top: -87px;
        left: 554px;
    }
  }

 

  @media screen and (min-width: 1100px) and (max-width: 1500px){

    .usos{
        height: 31%;
        top: 180%;
        left: 15%;
        position: absolute;
    }
    

    .videos{
        width: 700px;
        height: 400px;
        top: 2734px;
        left: 15%;
        position: absolute;
    }

    [id^=b-slider__switch-] ~ label {
        display: inline-block;
        vertical-align: top;
        width: 20px;
        height: 20px;
        background: #40E0D0;
        border: 2px solid #40E0D0;
        cursor: pointer;
        margin: -20px 5px 0;
        position: relative;
        z-index: 1;
        border-radius: 50%;
    }

    table {
      border: 0;
    }
  
    table caption{
      font-size: 1.3em;
    }
    
    table thead {
      border: none;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
    }
    
    table tr {
      border-bottom: 3px solid #ddd;
      display: block;
      margin-bottom: .625em;
    }
    
    table td {
      border-bottom: 1px solid #ddd;
      display: block;
      font-size: .8em;
      text-align: right;
    }
    
    table td::before {
      content: attr(data-label);
      float: left;
      font-weight: bold;
      text-transform: uppercase;
    }
    
    table td:last-child {
      border-bottom: 0;
    }

    .b-slider{
      text-align: center;
      margin-right: 50px;
      width: 900px;
      position: relative;
      top: -23px;
    }

    
    .b-slider__item-1 iframe{
        width: 900px;
    }


    .videos h1{
        position: absolute;
        top: -87px;
        left: 395px;
    }
  }

